
    <h1 class="text-center">Оплата услуг мобильной связи</h1>
   
    <div class="row mt-4 pt-4">
        <div class="col-md-4 pb-4">
            <a href="#/pay/mts">
                <img class="w-100" src="/assets/images/mts.png" alt=""/>
            </a>
        </div>
        <div class="col-md-4 pb-4">
            <a href="#/pay/megafon">
                <img class="w-100" src="/assets/images/megafon.png" alt=""/>
            </a>
        </div>
        <div class="col-md-4">
            <a href="#/pay/beeline">
                <img class="w-100" src="/assets/images/beeline.png" alt=""/>
            </a>
        </div>
    </div>
 